
<div class="app signin usersession">
    <div class="session-wrapper">
      <div class="page-height-o row-equal align-middle">
        <div class="column">
          <div class="card bg-white no-border">
            <div class="card-block">
            <div ng-if="error" class="alert alert-danger">
  {{error}}
</div>
              
                <div class="text-center m-b">
                  <h4 class="text-uppercase">Register</h4>
               
                </div>



<div class="form-inputs">
<label class="text-uppercase">Your User</label>
<input  ng-model="user.username"  class="form-control" placeholder="username" required />
<label class="text-uppercase">Password</label>
<input  ng-model="user.password"  class="form-control" placeholder="password"       type="password" required/>
<label class="text-uppercase">Password</label>
<input  ng-model="user.password2" class="form-control" placeholder="password again" type="password" required/>
</div>
<button ng-click="register(user)" class="btn btn-primary btn-block">Register</button><br/>

{{message}}
</div>
            
          </div>
        </div>
      </div>
    </div>