
<div class="panel panel-success">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" id="form" ng-submit="subscribe()" novalidate>



                                        <p>Subscribe to our weekly Newsletter and stay tuned.</p>


                                            <div class="input-prepend">
                                                <input type="text" class="form-control" id="input1"  ng-model="sub.email" placeholder="your@email.com" data-smk-msg="Please fill out this field" required>


                                            </div>
                                            <br />
                                            <input type="submit" value="Subscribe Now!" class="btn btn-large" />







                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

