<h1>Admin</h1>

<div class="app layout-fixed-header">
    <!-- sidebar panel -->
    <div class="sidebar-panel offscreen-left">
        <div class="brand">

            <!-- toggle small sidebar menu -->
            <a href="javascript:;" class="toggle-apps hidden-xs" data-toggle="quick-launch">
                <i class=""></i>
            </a>

            <!-- /toggle small sidebar menu -->
            <!-- toggle offscreen menu -->
            <div class="toggle-offscreen">
                <a href="javascript:;" class="visible-xs hamburger-icon" data-toggle="offscreen" data-move="ltr">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
            <!-- /toggle offscreen menu -->
            <!-- logo -->
            <a class="brand-logo">
                <span><a href="#admin">Dashbord</a></span>
            </a>
            <a href="#" class="small-menu-visible brand-logo">R</a>
            <!-- /logo -->
        </div>

        <span><a href="#feeds">Feeds</a></span></br>
        <span><a href="#diplomas">Diplomas</a></span></br>
        <span><a href="#/universitys/add">University</a></span></br>
        <span><a href="#/sections">Sections</a></span></br>
        <span><a href="#/send">SendNews</a></span></br>
        <span><a href="#/join">Position</a></span></br>
        <ul class="quick-launch-apps hide">
            <li>


            </li>
            <!-- /static -->
        </ul>
        </nav>
        <!-- /main navigation -->
    </div>
    <!-- /sidebar panel -->
    <!-- content panel -->
    <div class="main-panel">
        <!-- top header -->
        <div class="header navbar">
            <div class="brand visible-xs">
                <!-- toggle offscreen menu -->
                <div class="toggle-offscreen">
                    <a href="javascript:;" class="hamburger-icon visible-xs" data-toggle="offscreen" data-move="ltr">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
                <!-- /toggle offscreen menu -->
                <!-- logo -->
                <a class="brand-logo">
                    <span><a href="#home">Home</a></span>
                </a>
                <!-- /logo -->
            </div>
            <ul class="nav navbar-nav hidden-xs">

                <li class="navbar-form search-form hide">
                    <input type="search" class="form-control search-input" placeholder="Start typing...">
                    <div class="search-predict hide">
                        <a href="#">Searching for 'purple rain'</a>
                        <div class="heading">
                            <span class="title">People</span>
                        </div>
                        <ul class="predictive-list">
                            <li>
                                <a class="avatar" href="#">
                                    <img src="images/face1.jpg" class="img-circle" alt="">
                                    <span>Tammy Carpenter</span>
                                </a>
                            </li>
                            <li>
                                <a class="avatar" href="#">
                                    <img src="images/face2.jpg" class="img-circle" alt="">
                                    <span>Catherine Moreno</span>
                                </a>
                            </li>
                            <li>
                                <a class="avatar" href="#">
                                    <img src="images/face3.jpg" class="img-circle" alt="">
                                    <span>Diana Robertson</span>
                                </a>
                            </li>
                            <li>
                                <a class="avatar" href="#">
                                    <img src="images/face4.jpg" class="img-circle" alt="">
                                    <span>Emma Sullivan</span>
                                </a>
                            </li>
                        </ul>
                        <div class="heading">
                            <span class="title">Page posts</span>
                        </div>
                        <ul class="predictive-list">
                            <li>
                                <a class="avatar" href="#">
                                    <img src="images/unsplash/img2.jpeg" class="img-rounded" alt="">
                                    <span>The latest news for cloud-based developers </span>
                                </a>
                            </li>
                            <li>
                                <a class="avatar" href="#">
                                    <img src="images/unsplash/img2.jpeg" class="img-rounded" alt="">
                                    <span>Trending Goods of the Week</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-xs">


                <li>
                    <a href="javascript:;" class="ripple" data-toggle="dropdown">
                        <img src="images/avatar.jpg" class="header-avatar img-circle" alt="user" title="user">
                        <span ng-show="currentUser">

{{currentUser.username}}

</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#profile">Profil</a>
                        </li>



                        <li>
                            <a href="#logout" ng-click="logout()">Logout</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- /top header -->
        <!-- main area -->

<div class="container">
<div class="header">


</div>
<!-- Map and Side Panel -->
<div class="row content">
    <!-- Google Map -->
    <div class="col-md-7">
        <div id="map" style="width:1100px; height:645px"></div>
    </div>
    <!-- Side Panel -->
</div>
    <div class="row content">
        <!-- Creates Main Panel -->
        <div class="panel panel-default">

            <!-- Panel Title -->


            <!-- Panel Body -->
            <div class="panel-body">

                <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
                <form name ="addForm" novalidate>

                    <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
                    <div class="form-group">
                        <label for="name">name <span class="badge">All fields required</span></label>
                        <input type="text" class="form-control" id="name" placeholder="OldandGold" ng-model="formData.name" required>
                    </div>
                    <label class="radio control-label">Gender</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="radiopublic" value="public" ng-model="formData.gender">
                            public
                        </label>
                    </div>
                    <div class="radio" required>
                        <label>
                            <input type="radio" name="optionsRadios" id="radioprivate" value="private" ng-model="formData.gender">
                            private
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="radioother" value="What's it to ya?" ng-model="formData.gender">
                            What's it to ya?
                        </label>
                    </div>


                    <div class="form-group">
                        <label for="latitude">Latitude</label>
                        <input type="text" class="form-control" id="latitude" value="36.393" ng-model="formData.latitude" required>
                    </div>
                    <div class="form-group">
                        <label for="longitude">Longitude</label>
                        <input type="text" class="form-control" id="longitude" value="10.009" ng-model="formData.longitude" required>
                    </div>


                    <!-- Submit button. Note that its tied to createUser() function from addCtrl. Also note ng-disabled logic which prevents early submits.  -->
                    <button type="submit" class="btn btn-danger btn-block" ng-click="createUniver()" ng-disabled="addForm.$invalid">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>