<a class="btn btn-danger" href="#/diplomas">Go Back</a>
<div class="panel panel-success">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
            <form class="form-horizontal" id="form" ng-submit="addDiploma()" novalidate>
                <center><legend><b>Add Diploma</b></legend></center>
                <fieldset>
                    <div class="form-group">
                        <label for="input1"  class="col-md-2 control-label">Title</label>

                        <div class="col-md-10">
                            <input type="text" class="form-control" id="input1"  ng-model="diploma.title" placeholder="Title" data-smk-msg="Please fill out this field" required>

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="select111" class="col-md-2 control-label">Genre</label>

                        <div class="col-md-10">
                            <select id="select111" ng-model="diploma.genre" class="form-control">
                                <option>BTS</option>
                                <option>Engineering</option>
                                <option>Licenses</option>
                                <option>Masters</option>
                            </select>
                        </div>
                    </div>




                    <div class="form-group">
                        <label for="textArea" class="col-md-2 control-label">Description</label>

                        <div class="col-md-10">
                            <textarea class="form-control" rows="3" id="textArea" ng-model="diploma.description" placeholder="Description" data-smk-msg="Please fill out this field" required></textarea>

                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-default">Reset</button>
                        </div>
                    </div>
                </fieldset>
            </form>
            </div>
        </div>
    </div>
</div>

