<!-- main area -->
<div class="main-content">
    <div class="panel panel-info" ng-init="getDiplomaBTS()">
        <div class="panel-heading" style="color: white"><b>Latest Diplomas</b></div>
        <p><input type="text" ng-model="test"  class="form-control" placeholder="search" class="fa fa-search"></p>
        
        <div class="panel-body">
            <div class="row">
                <div ng-repeat="diploma in diplomas | filter:test">
                    <div class="col-md-6 animated fadeInUp">
                        <div class="col-md-6">
                            <p>{{diploma.title}}</p>
                            <a class="btn btn-raised btn-primary" href="#/diplomas/detail2/{{diploma._id}}">View Details</a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>